  .button {
  display: inline-block;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
}

.simulador-interactivo {
  color: rgb(149, 0, 157);
  font-family: century gothic, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
  position: relative;
}

.simulador-interactivo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  color: black;
  background: rgb(244, 114, 251);
  margin: 10px auto 0;
}

.simulador-GUI {
    font-family: century gothic, sans-serif;
  color: rgb(149, 0, 157);
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
  position: relative;
}

.simulador-GUI::after {
    font-family: century gothic, sans-serif;
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  color: black;
  background: rgb(244, 114, 251);
  margin: 10px auto 0;
}

#simulador iframe {
  border-radius: 10px;
}

.simulador-interactivo-btn,
.simulador-GUI-btn {
    font-family: century gothic, sans-serif;
    display: inline-block;
    background: #d81cfa;
    color: #fff;
    padding: 12px 22px;
    border-radius: 8px;
    text-decoration: none;
    margin: 0 8px;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.simulador-interactivo-btn:hover,
.simulador-GUI-btn:hover {
    font-family: century gothic, sans-serif;
    background: #000;
    color: rgb(237, 173, 255);
    text-decoration: none;
    transform: translateY(-2px);
    text-shadow: #b916ff 0 0 10px;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}