  .button {
  display: inline-block;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
}

#simulador iframe {
  border-radius: 10px;
}