<footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="https://abrilsoldier19.github.io/portafolio.github.io/"><img src="img/Picture5.png" alt="logo"></a>
                    </div>
                    <!-- /footer logo -->
                    <!-- footer follow -->
                    <ul class="footer-follow">
                        <li><a href="https://github.com/abrilsoldier19" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/april-mejia-7a3179178/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="cv/AbrilMejia-Sistemas-CV.pdf" target="_blank"><i class="">CV</i></a></li>

                    </ul>
                    <!-- /footer follow -->
                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>Copyright © 2024. All Rights Reserved. Designed by Abril Mejia</p>
                    </div>
                    <!-- /footer copyright -->
                </div>

            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </footer> 